<h1>About Bike Berlin</h1>
<p>Welcome to the Bike Berlin official website! We are a used bike dealer located in Berlin, Germany. We look forward to helping you with all of your bike-related needs!</p>
